.card {
  position: relative;
  height: 340px;
  width: 340px;
  border-radius: 4px;
  transition: 0.3s;
  margin: 22px;

  h2 {
    font-size: 1rem;
  }

  h4{
    width: 100%;
    margin: 10px;
    text-shadow: 1px 1px 1px #FF6060;
  }

  .infos {
    position: absolute;
    top: 0;
    left: 0;
    color: $white;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 10px;
  }
  img {
    height: 340px;
    width: 340px;
    object-fit: cover;
    border-radius: 10px;
    
  }
}
