.carrousel{
    height: 415px ;
    position: relative;
    
}

.picture{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.carrousel-chevron-next{
    position: absolute;
    right: 25px;
    top: 170px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

.carrousel-chevron-prev{
    position: absolute;
    left: 25px;
    top: 170px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .carrousel{
      height: 255px;
    }

    .carrousel-chevron-next{
        position: absolute;
        right: 5px;
        top: 123px;
        font-size: 19px;
      
    }
    
    .carrousel-chevron-prev{
        position: absolute;
        left: 5px;
        top: 123px;
        font-size: 19px;
        color: white;
        cursor: pointer;
    }

    .picture{
        object-fit: cover;
    }
    }