.hosts {
  text-align: left;
  background: #F7F7F7;
  border-radius: 15px 15px 0px;
  margin-top: 30px;
  padding: 20px;


  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
h2{
  color: #FF6060;
  font-weight: 500;
font-size: 36px;
line-height: 142.6%;
}

.host-informations-wrap{
  display: flex;
    justify-content: space-between;
}
.host-title-location-tags{
  display: flex;
  justify-content: space-between;
}

.host-name-profil-picture-rating{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.host-name-profil-picture{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.host-name {
  width: min-intrinsic;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: table-caption;
  display: -ms-grid;
  -ms-grid-columns: min-content;
  margin-right: 15px;
}
.host-profil-picture{
  
  display: flex;

  border-radius: 100%;
  width: 64px;
  height: 64px;


}
.tag-wrapper{
  display:flex;
  flex-wrap: wrap;

}
.tags-hosting{
  background: #FF6060;
border-radius: 10px;
display: flex;
justify-content: space-around;
align-items: center;
height:25px;
color: white;
margin-right: 15px;
font-weight:500;
font-size: 14px;
padding: 0 15px;
margin-top: 15px
}
.tags-and-rating{
  display: flex;
  justify-content: space-between;
}
.rating-wrapper{

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.star-solid{
  height: 30px;
  padding: 2px;
}
.star-empty{
  height: 30px;
  padding: 2px;
}
.collapse-wrap-hosting{
  width: 580px;
}


@media screen and (max-width: 800px) {
  .title-host{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;


    display: flex;
    align-items: flex-end;
  }
  .host-informations-wrap{
    display: flex;
    flex-direction: column;
  }

  .location-host{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* identical to box height, or 26px */

display: flex;
align-items: flex-end;
  }

  .collapse-wrap-hosting{
    width: 100%;
  }

  .host-name-profil-picture-rating{
    flex-direction: row-reverse;
  }
  .host-name-profil-picture{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

}

