

.nav-header{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

.logo-img{
  width: 210px;
  
}

.nav-active{
  border-bottom: 1px solid $color-2;

}

.navigation {
  ul {
    display: flex;
    justify-content: space-around;

    a {
      text-decoration: none;
      margin: 10px;

      li {
        color: $color-1;
 
        cursor: pointer;
        font-weight: 500;
font-size: 2.1vh;
line-height: 142.6%;

   
      }
    }

    
  }
}


@media screen and (max-width: 900px) {

  .logo-img{
    width: 145px;
    
  }

  .navigation {
    ul {
    
  
      a {
      
  
        li {
          font-size: 12px;
  
     
        }
      }
  
      
    }
  }
  
}

