@import "./settings";
@import "./components/navigation";

@import "./components/hosts";
@import "./components/card";
@import "./components/header";
@import "./components/about";
@import "./components/dropdown";
@import "./components/carrousel";
@import "./components/footer";
@import "./components/error";
#root{
    margin: 0 auto;
    padding: 10px;
    max-width: 1250px;
    min-width: 390px;
  }
  
  @media screen and (max-width: 800px) {
    #root{
     width: 100%;
    } 

    .header-img{
      height: 111px;
      object-fit: cover;
    }
  }